<h1>Edit Product</h1>
<!-- {{ products | json }} -->
<form name="editForm" #editForm="ngForm">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" required minlength="4" class="form-control" name="title" [(ngModel)]="products[productIndex].title" #title="ngModel">
		<div *ngIf="title.errors && (title.touched || createForm.submitted)" class="red">
			<p *ngIf="title.errors.required">Title is required.</p>
			<p *ngIf="title.errors.minlength">Title must be at least 4 characters.</p>
		</div>
	</div>
	<div class="form-group">
		<label for="price">Price</label>
		<input type="text" name="price" class="form-control" required [(ngModel)]="products[productIndex].price" #price="ngModel">
		<div *ngIf="price.errors && (price.touched || createForm.submitted)" class="red">
			<p *ngIf="price.errors.required">Price is required.</p>
		</div>
	</div>
	<div class="form-group">
		<label for="imgurl">Image Url</label>
		<input type="text" name="imgurl" class="form-control" [(ngModel)]="products[productIndex].imgurl" #imgurl="ngModel">
	</div>
	<button class="btn btn-danger" type="button" (click)="deleteProduct(productIndex)">DELETE</button>
	<button class="btn btn-primary" type="button" (click)="updateProduct(productIndex, title.value, price.value, imgurl.value, editForm)" [disabled]="!editForm.valid">UPDATE</button>
	<!-- <button class="btn btn-success" type="submit" (click)="createProduct(createForm)" [disabled]="!createForm.valid">CREATE</button> -->
</form>
