<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<h1>PPM - Project Product Management</h1>

<p><a [routerLink]="['/']">Home</a> | <a [routerLink]="['/products']">Product List</a> | <a [routerLink]="['/products','new']">Product Creation</a></p>

<div class="router-outlet">
  <router-outlet></router-outlet>
</div>

{{ products | json }}


