<div class="well">
	<h2>Hello!</h2>
	<p>Please enter your name to join and share your ideas</p>
	<form name="loginForm" #loginForm="ngForm">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" required class="form-control" name="username" [(ngModel)]="user.name" #username="ngModel">
		</div>
		<!-- <div class="form-group">
			<label for="password">Password:</label>
			<input type="text" required class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel">
		</div> -->
		<button type="button" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="login(loginForm)">Enter</button>
	</form>
	{{ user | json }}
</div>

<!-- <div class="well">
	<h1>Register</h1>
	<form name="regForm" #regForm="ngForm">
		<div class="form-group">
			<label for="newUsername">Username:</label>
			<input type="text" required class="form-control" name="newUsername" [(ngModel)]="newUser.name" #newUsername="ngModel">
			<div *ngIf="newUsername.errors && (newUsername.touched || regForm.submitted)">
				<p class="red" *ngIf="newUsername.errors.required">Username is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label for="newPassword">Password:</label>
			<input type="password" required class="form-control" name="newPassword" [(ngModel)]="newUser.password" #newPassword="ngModel">
			<div *ngIf="newPassword.errors && (newPassword.touched || regForm.submitted)">
				<p class="red" *ngIf="newPassword.errors.required">Password is required.</p>
			</div>
		</div>
		<div class="form-group">
			<label for="confirm_pw">Confirm Password:</label>
			<input type="password" required class="form-control" name="confirm_pw" [(ngModel)]="newUser.confirm_pw" #confirm_pw="ngModel">
			<div *ngIf="confirm_pw.value != newPassword.value && (confirm_pw.touched || regForm.submitted)">
				<p *ngIf="newPassword.value != confirm_pw.value" class="red">Passwords do not match.</p>
			</div>
		</div>
		<button type="button" class="btn btn-success" [disabled]="!regForm.valid || newPassword.value !== confirm_pw.value" (click)="registerNewUser(regForm)">Register</button>
	</form>
	{{ newUser | json }}
</div> -->