<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10_Ninja_Gold.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5997F12E1EC383C20013BDD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5997F1421EC383C20013BDD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5997F14D1EC383C20013BDD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
