<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo</title>
	<style type="text/css">
		* {
			font-family: Arial;
		}
	</style>
</head>
<body>
<div class="wrapper">
	<h1>Welcome to Quoting Dojo</h1>
	<form action="/quotes" method="post">
		<p>Your name: <input type="text" name="name"></p>
		<p>Your quote: <input type="textarea" name="quote"></p>
		<p><button type="submit">Add my quote!</button></p>
	</form>
	<p><button><a href="/quotes">Skip to quotes!</a></button></p>
</div>
</body>
</html>