<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>13_Great_Number_Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>598404BA1EC4FB120070E0EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>598404CE1EC4FB120070E0EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>598404D91EC4FB120070E0EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
