<h1>Quotes List</h1>
<div *ngFor="let quote of quotes, let i=index" class="list">
	<div class="content">
		<h4>"{{quote.quote}}"</h4>
		<p>- {{quote.author}}</p>
	</div>
	<div class="total">
		<h2 *ngIf="quote.votes>0">+{{quote.votes}}</h2>
		<h2 *ngIf="quote.votes<=0">{{quote.votes}}</h2>
	</div>
	<div class="vote">
		<p><button class="btn btn-success" (click)="quote.votes = quote.votes+1; sortQuotes();">Vote Up</button></p>
		<p><button class="btn btn-danger" (click)="quote.votes = quote.votes-1; sortQuotes();">Vote Down</button></p>
		<p><button class="btn btn-default" (click)="deleteQuote(i)">Delete</button></p>
	</div>
</div>