<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
<div class="wrapper" style="border: 1px black solid; margin: 10px; padding: 10px; width: 300px">
	<h2>Dojo Survey</h2>

	<p>Name: <%= name %></p>
	<p>
		Dojo Location: <%= location %>
	</p>
	<p>
		Favorite Language: <%= language %>
	</p>
	<p>Comment: <%= comment %></p>
	<p><button class="btn btn-primary"><a href="/" style="text-decoration: none; color: #FFF">Go Back</a></button></p>
</div>
</body>
</html>