<!DOCTYPE html>
<html>
<head>
	<title>Intro to Mongoose</title>
</head>
<body>
<form action="/users" method="post">
	<p>Name: <input type="text" name="name"></p>
	<p>Age: <input type="text" name="age"></p>
	<p><input type="submit" name="submit"></p>
</form>
</body>
</html>