<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/680ef57b8e.js"></script>
	<style type="text/css">
		ul {
			list-style-type: none;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h2>Welcome, {{user.first_name}}!</h2>
		</div>
		<div class="col-lg-6">
			<a href="/books/add">Add Book and Review</a>
			<a href="/logout">Logout</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h4>Recent Book Reviews</h4>
			<br>
			{% for book in books %}
				<h4><a href="/books/{{book.id}}">{{ book.title }}</a> by {{ book.author.name }}</h4>
				<ul>
					{% for review in reviews %}
						{% if book.id == review.book.id %}
							<li class="well">
								<p>
								{% with ''|center:review.rating as range %}
									{% for i in range %}
										<img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-128.png" height="15">
									{% endfor%}
								{% endwith%}
								</p>
								<p><a href="/users/{{review.user.id}}">{{review.user.first_name}}</a> says: {{ review.content }}</p>
							</li>
							<hr>
						{% endif %}
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
		<div class="col-lg-6">
			<h4>Other Books with Reviews</h4>
			<div style="overflow: scroll">
			{% for book in other_books %}
				<a href="/books/{{book.id}}">{{book.title}}</a>
			{% endfor %}
			</div>
		</div>
		
	</div>
</div>
</body>
</html>